*{margin: 0; padding: 0}
/*a{text-decoration: none; outline: none; cursor: pointer; display: inline-block;}*/
span{display: inline-block;}
textarea{font-family: arial; font-size: 12px;}

.clear{display: inline-block; clear:both;}
.white{color:#fff;}
.black{color:#000;}
.rouge2,
.txt_rouge{color:#a90d37;}
.rouge2_imp{color:#a90d37 !important;}
.hidden{visibility:hidden;}
.tt_uc{text-transform:uppercase;}
.p_r{position: relative;}
.p_a{position: absolute;}
.f_l{float: left !important;}
.f_r{float: right !important;}
.f_n{float: none !important;}
.ta_c{text-align: center !important;}
.ta_r{text-align: right !important;}
.ta_l{text-align: left !important;}
.ta_j{text-align: justify !important;}
.hide{display: none;}
.d_n{display: none;}
.d_b{display: block;}
.hideimp{display: none !important;}
.d_ib{display: inline-block;}
.jump{clear:both; display: block;}
.fw_b{font-weight: bold;}
.fw_n{font-weight: normal;}
.c_p{cursor: pointer;}
.c_h{cursor: help;}
.ml0{margin-left: 0 !important;}
.mr0{margin-right: 0 !important;}
.mb0{margin-bottom: 0 !important;}
.td_u{text-decoration: underline !important;}
.td_n{text-decoration: none;}

.fs10{font-size: 10px !important;}
.fs11{font-size: 11px !important;}
.fs12{font-size: 12px !important;}
.fs13{font-size: 13px !important;}
.fs14{font-size: 14px !important;}
.fs15{font-size: 15px !important;}
.fs16{font-size: 16px !important;}
.fs17{font-size: 17px !important;}
.fs18{font-size: 18px !important;}
.fs20{font-size: 20px !important;}
.fs21{font-size: 21px !important;}
.fs22{font-size: 22px !important;}
.fs24{font-size: 24px !important;}
.fs25{font-size: 25px !important;}

.fw300{font-weight: 300;}
.fw400{font-weight: 400;}

.fst_it{font-style: italic;}
.ti{text-indent: -5000px;}


.arial{font-family: arial !important;}

.gradient_vert{
	background-image:-moz-linear-gradient(#8ed403, #73aa0e);
	background-image:-webkit-linear-gradient(#8ed403, #73aa0e);
	background-image:-o-linear-gradient(#8ed403, #73aa0e);
	background-image:linear-gradient(#8ed403, #73aa0e);
	filter:progid:DXImageTransform.Microsoft.gradient(
	startColorstr='#8ed403',endColorstr='#73aa0e', 
	GradientType=0);
}
.gradient_vert2{
	background: url(../img/btn.png) repeat-x left -33px;
}
.radius(@val){
	border-radius: @val;
}

.wsite_ext{width: 1015px;}
.wsite_int{width: 980px;}
.maxwidth_site{max-width: 1180px;}

.atransition(@speed){
	-webkit-transition: all @speed ease-in-out 0s;
	-moz-transition: all @speed ease-in-out 0s;
	-ms-transition: all @speed ease-in-out 0s;
	-o-transition: all @speed ease-in-out 0s;
	transition: all @speed ease-in-out 0s;
}
.transition_bg(@speed){
	-webkit-transition: background @speed ease-in-out 0s;
	-moz-transition: background @speed ease-in-out 0s;
	-ms-transition: background @speed ease-in-out 0s;
	-o-transition: background @speed ease-in-out 0s;
	transition: background @speed ease-in-out 0s;
}
.transition(@trans,@speed){
	-webkit-transition: @trans @speed ease 0s;
	-moz-transition: @trans @speed ease 0s;
	-ms-transition: @trans @speed ease 0s;
	-o-transition: @trans @speed ease 0s;
	transition: @trans @speed ease 0s;
}
.transform(@val){
	-webkit-transform: @val;
	-moz-transform: @val;
	-ms-transform: @val;
	-o-transform: @val;
	transform: @val;
}
.bgcover(@urlimg){
	-webkit-background-size: 100% auto; /* pour Chrome et Safari */
	-moz-background-size:  100% auto; /* pour Firefox */
	-o-background-size:  100% auto; /* pour Opera */
	background-size:  100% auto;
}

.loader {
  display: inline-block;
  margin-right: 0;
  border-style: solid;
  border-color: #b3cd28 #b3cd28 #b3cd28 #282828;
  -moz-animation: rotation 1s linear infinite;
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.loader.spinform {
  width: 70px;
  height: 70px;
  border-width: 8px;
}

@-moz-keyframes rotation {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spin{.p_a; top: 50%; left: 50%; margin-left: -35px; margin-top: -35px;}


.opac(@val){@opacityPercentage: @val * 100; opacity: @val; filter:~"alpha(opacity=@{opacityPercentage})";}
.opacImp(@val){@opacityPercentage: @val * 100; opacity: @val !important; filter:~"alpha(opacity=@{opacityPercentage})" !important;}
.boxsize{box-sizing: border-box;}
*{.boxsize}
.fs(@size){
	font-size: @size;
}
.lh(@size){
	line-height: @size;
}
.mt(@size){
	margin-top: @size;
}
.ti{text-indent: -5000px;}

.translateTopLeft{transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.translateTop{transform: translate(0,-50%);-moz-transform: translate(0,-50%);-ms-transform: translate(0,-50%);-webkit-transform: translate(0,-50%);}
.translateLeft{transform: translate(-50%,0);-moz-transform: translate(-50%,0);-ms-transform: translate(-50%,0);-webkit-transform: translate(-50%,0);}

