@import('library.less');

a{outline: none !important;}

.lato{font-family: 'Lato', Helvetica, arial, sans-serif;}
.gris{color: #3d3e3e;}
.or{color: #94866a}
.or2{color: #99896c}

.light{font-weight: 300;}
.regular{font-weight: 400;}
.bold{font-weight: 700;}

.container{.p_r; max-width: 1202px;}
header,
.header-container,
.columns-container,
.footer-container{background: none;}

body{background: url(../img/trame.jpg) repeat left top; .lato;}

body.index .breadcrumb,
body.atelier .breadcrumb
{.d_n;}


.sf-contener{clear :none}
.sf-menu{background: none; border:none; width: 340px;}
body.lang_en .sf-menu{min-width: 370px; width: inherit;}

div#store{position: absolute; width: 100%; height: 100%; top: 0; left: 0; bottom: 0; right: 0; background: url(../img/pxblack50.png) repeat left top; z-index: 1000; .d_n;}
div#store .inside{.f_l; .p_r; width: 95%; height: auto; min-height: 200px; margin: 5% 2.5%; background: url(../img/trame.jpg) repeat left top; max-width: 1150px; overflow: hidden;}
div#store .inside a.close{.d_ib; .ti; position: absolute; width: 35px; height: 35px;  background: url(../img/close.png) no-repeat center top; right: 29px; top: 29px;}
div#store .inside a.close:hover{
  -webkit-animation: rotate 2s ease-in-out;
  -moz-animation: rotate 2s ease-in-out;
  -ms-animation: rotate 2s ease-in-out;
  animation: rotate 2s ease-in-out;
}
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg) }}
@-ms-keyframes rotate { 100% { -ms-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); }}

div#store .inside div#contain{.f_l; padding: 123px 0 50px 0; margin: 0 6.782%; width: 86.434%; }
div#store .inside div#contain .thumb{.f_l; width: 54.426%}
div#store .inside div#contain .thumb img{width: 100%; height: auto;}
div#store .inside div#contain .texte{width: 41.046%; .f_r; .fs(15px); .light;}

.sf-menu > li {border: none;}
.sf-menu > li > a{width: 110px;}
body.lang_en .sf-menu > li > a{min-width: 110px; width: inherit;}
.sf-menu > li > a {border: none; .gris;display: block; .lato; .light; padding: 8px 25px 8px 8px; .tt_uc; /*min-width: 110px;*/ .ta_l; .td_n;  .atransition(0.5s);}
#header.scrolled .sf-menu > li > a{.fs(15px); .atransition(0.5s);} 
.sf-menu > li.sfHover > a:hover,
.sf-menu > li > a.on,
.sf-menu > li > a:hover,
.sf-menu > li.sfHoverForce > a:hover,
.sf-menu > li.sfHoverForce > a,
#header.scrolled .sf-menu > li.sfHover > a:hover,
#header.scrolled .sf-menu > li > a.on,
#header.scrolled .sf-menu > li > a:hover,
#header.scrolled .sf-menu > li.sfHoverForce > a:hover,
#header.scrolled .sf-menu > li.sfHoverForce > a
 {border: none; .or; .bold; background: url(../img/trait-or.png) no-repeat left bottom; .atransition(0s);}

header .row #header_logo{padding: 0; .f_l; width: 33.3333%;}
header .row #header_logo img{height: 52px; width: auto; margin-top: 6px; .atransition(1s)}
body#index #header_logo{.d_n;}
#header{padding: 0; height: 78px; position: fixed; z-index: 10; top: 0; left: 0; width: 100%; background: url(../img/BANDEAU-MENU.png) no-repeat left bottom; .atransition(0.5s);}
#header.scrolled{height: 55px; .atransition(0.7s);}
header#header.scrolled .row #header_logo img{height: 32px; width: auto; margin-top: 6px;}
#header .container.mTop .row{height: 78px; overflow: hidden; padding-right: 7.237%;}
#header.scrolled .container.mTop .row{height: 55px;}

#header.scrolled #block_top_menu{.mt(1px); .atransition(0.5s);} 
#header.scrolled #lnk_cart{.mt(12px); .atransition(0.5s);} 

#block_top_menu{padding: 0; width: 340px; .p_a; left: 50%; margin-left: -170px; .mt(19px); .atransition(0.5s);}
#lnk_cart{padding: 0; width: auto; .p_a; left: 71.630%; .mt(29px); .light; .fs(12px); .tt_uc; margin-left: 0; .atransition(0.5s);}
#lnk_cart a{.d_ib; .f_l;}
#lnk_cart a:hover{text-decoration: underline !important;}
#lnk_cart span{.d_ib; .lh(19px); height: 19px;}
#lnk_cart span img{margin-left: 10px;}
#lnk_cart nav{.f_l; margin-left: 15px;}

#languages-block-top{border: none;}
#languages-block-top a{.f_n;}
#languages-block-top a.on{.bold; .or2}


div.visuel{width: 100%; height: auto; min-height: 330px !important; .ta_c; padding-top: 120px}
body.index div.visuel{background: url(../img/IMAGE-HEADER-HOME.jpg) no-repeat center top; background-size: auto 100%;}
body.atelier div.visuel{background: url(../img/IMAGE-HEADER-ATELIER.jpg) no-repeat center top; background-size: auto 100%; .opac(0.8);}
div.visuel img{width: 46.17%}

div[id*="htmlcontent_"] ul li{width: 100%; padding: 0; .mt(60px);}
div[id*="htmlcontent_"] ul li a.item-link{display: block; color: #333333; .atransition(0.5s) }
div[id*="htmlcontent_"] ul li a.item-link:hover{.or; .atransition(0.2s)}
div[id*="htmlcontent_home"] ul li:first-child{.ta_c; .opac(0.75); color: #333333; .mt(10px); margin-bottom: 30px;}
div[id*="htmlcontent_home"] ul li:first-child span{.light; .fs(15px);}
div[id*="htmlcontent_home"] ul li:first-child h1{.regular; .fs(20px); .tt_uc; .mt(2px);}
div[id*="htmlcontent_"] ul li h3{.regular; .fs(25px); .tt_uc; .mt(0); background: url(../img/trait-gris.png) no-repeat left bottom; padding: 0 0 15px 2px; margin-bottom: 20px;}
div[id*="htmlcontent_"] ul li div.item-html:hover h3,
div[id*="htmlcontent_"] ul li a.item-link:hover h3{background: url(../img/trait-or-2.png) no-repeat left bottom; .atransition(0.2s)}

div[id*="htmlcontent_"] ul li + li img,
div[id*="htmlcontent_workshop"] ul li img
{.f_l; width: 39.9334%; margin-left: 7.0715%}

div[id*="htmlcontent_"] ul li + li div.item-html,
div[id*="htmlcontent_workshop"] ul li div.item-html
{.f_r; width: 39.9334%; margin-right: 7.0715%; .light; .fs(15px); .light;}

div[id*="htmlcontent_"] ul li + li div.item-html p,
div[id*="htmlcontent_workshop"] ul li div.item-html p
{.opac(0.75); margin: 15px 0}

div[id*="htmlcontent_"] ul li + li + li img{.f_r; width: 39.9334%; margin-right: 7.0715%; margin-left: 0;}
div[id*="htmlcontent_"] ul li + li + li div.item-html{.f_l; width: 39.9334%; margin-left: 7.0715%; margin-right: 0;}

div[id*="htmlcontent_"] ul li + li + li + li img{.f_l; width: 39.9334%; margin-left: 7.0715%; margin-right: 0;}
div[id*="htmlcontent_"] ul li + li + li + li div.item-html{.f_r; width: 39.9334%; margin-right: 7.0715%; margin-left: 0;}

div[id*="htmlcontent_"] ul li div.item-html span.href{.tt_uc; .fs(15px); .regular}
div[id*="htmlcontent_"] ul li div.item-html div.eshop span.href{width: 261px; height: 44px; padding-left: 58px; .tt_uc; color: #fff; background: url(../img/href-btn.png) no-repeat center top; .d_ib; .lh(44px); .fs(13px); .regular;}
div[id*="htmlcontent_"] ul li a.item-link:hover div.eshop  span.href{background-position: center bottom; }

.contain_popin{.d_n;}

/* ---------------------------------------------------------------- 600px -------------------------------------------------------------- */

@media only screen and (max-width: 600px) {
	div[id*="htmlcontent_home"] ul li:first-child{padding: 0 10%}
	div[id*="htmlcontent_home"] ul li:first-child span br{.d_n}
}





