/* ----------------------------------------------------------------------------------------------------------------------- 1100px ---------------------*/
@media only screen and (max-width: 1100px) {
	#product-footer ul{width: 94%; .f_l; margin-left: 3%}
	#product-footer ul li{width: 30%;}
	#product-footer ul li + li{margin-left: 2%;}
	
	#categories_home_eshop .block_content ul.tree > li{.p_a; left: 15%; margin: 0 !important; top: 0}
	#categories_home_eshop .block_content ul.tree > li + li{left: 40%;}
	#categories_home_eshop .block_content ul.tree > li + li + li{left: inherit; right: 15%}
	
	#back-catalog div div.cbc{padding: 0 2%}
	.filters{margin-left: 0%}
}
/* ----------------------------------------------------------------------------------------------------------------------- 1050px ---------------------*/
@media only screen and (max-width: 1050px) {
	#footer .block,
	#footer #newsletter_block_left{width: 24.7864%; .f_l}
	#footer .block + .block{margin-left: 10.3204% !important }
	
}
/* ----------------------------------------------------------------------------------------------------------------------- 1020px ---------------------*/
@media only screen and (max-width: 1020px) {
	#choicegiftcard .col-sm-4{width: 50%}
	.pb-right-column{width: 50% !important;}
	.container div.row{.padding_aside_1000;}
	.nav-tabs > li > a{padding: 0 10px}
}
/* ----------------------------------------------------------------------------------------------------------------------- 1000px ---------------------*/
@media only screen and (max-width: 1000px) {
	div.menu-account,
	div.myforms
	{width: 100%;}
	div.myforms{margin-top: 25px;}
}
/* ----------------------------------------------------------------------------------------------------------------------- 990px ---------------------*/
@media only screen and (max-width: 990px) {
	
	#footer .block,
	#footer #newsletter_block_left{width: 27.7864%; .f_l}
	#footer .block + .block{margin-left: 8.3204%  !important}
	ul.product_list li{width: 32%}
	ul.product_list.grid > li.first-item-of-tablet-line,
	ul.product_list.grid > li.last-item-of-mobile-line,
	ul.product_list.grid > li.last-in-line
	{clear: inherit;}

}
/* ----------------------------------------------------------------------------------------------------------------------- 970px ---------------------*/
@media only screen and (max-width: 970px) {
	#cms #center_column p.mosaic img{width: 49%;}
	.container #block_top_menu{.d_n;}
	#side-menu #block_top_menu,
	#side-menu #block_top_menu ul,
	#side-menu #block_top_menu + .sep
	{display: block;}
	body#index .container #block_top_menu{display: block; left: 5%; margin-left: 0;}
	body#index #side-menu #block_top_menu,
	body#index #side-menu #block_top_menu ul,
	body#index #side-menu #block_top_menu + .sep
	{.d_n}

	#lnk_cart{.p_r; .f_l; margin-left: 20%; left: 0}
	body#index #lnk_cart{.p_r; .f_r; margin-right: 14%; left: 0; margin-left: inherit;}
	.nav-tabs > li > a{padding: 0 5px}
}
/* ----------------------------------------------------------------------------------------------------------------------- 945px ---------------------*/
@media only screen and (max-width: 945px) {
	#layer_cart .continue,
	#layer_cart .button.button-medium,
	#layer_cart .button.exclusive-medium
	{.f_n; display: block; margin: 10px auto !important;}
	#categories_home_eshop .block_content ul.tree > li{left: 50% !important; margin-left: -95px !important; top: 0;}
	#categories_home_eshop .block_content ul.tree > li + li{top: 260px;}
	#categories_home_eshop .block_content ul.tree > li + li + li{top: 520px;}
}

/* ----------------------------------------------------------------------------------------------------------------------- 900px ---------------------*/
@media only screen and (max-width: 900px) {
	ul.presse li{width: 50%; height: 110px; margin-bottom: 30px}
	ul.presse li img{left : 50% !important; .translateLeft}
}

/* ----------------------------------------------------------------------------------------------------------------------- 880px ---------------------*/
@media only screen and (max-width: 880px) {
	.nav-tabs > li > a{padding: 0 8px; .fs(12px)}
	section.page-product-box,
	ul#more_info_tabs
	{width: 100%}
}
/* ----------------------------------------------------------------------------------------------------------------------- 870px ---------------------*/
@media only screen and (max-width: 870px) {
	#footer .block,
	#footer #newsletter_block_left{width: 100% !important; .f_l}
	#footer .block + .block, #footer .block{margin: 15px auto  !important}
	body#category #back-catalog{background: none; height: auto; padding-top: 25px;}
	#back-catalog div.acbc,
	#back-catalog div div.cbc
	{height: auto;}
	.filters{margin-left: -130px !important; .f_n; left: 50%; height: 52px;}

}
/* ----------------------------------------------------------------------------------------------------------------------- 850px ---------------------*/
@media only screen and (max-width: 850px) {
	div[id*="htmlcontent_"] ul li{margin-top: 0}
	div[id*="htmlcontent_"] ul li.imgleft img,
	div[id*="htmlcontent_"] ul li.imgleft div.item-html,
	div[id*="htmlcontent_"] ul li.imgright img,
	div[id*="htmlcontent_"] ul li.imgright div.item-html
	{min-width: inherit !important;  margin-right: 0; .f_l;}/*margin-left: 5%; width: 90% !important;*/
	div[id*="htmlcontent_"] ul li.imgleft div.item-html,
	div[id*="htmlcontent_"] ul li.imgright div.item-html
	{margin-top: 20px}
	
	div#store .inside div#contain .thumb,
	div#store .inside div#contain .texte
	{width: 100%}
	div#store .inside div#contain .texte{.mt(25px)}
	div#store .inside div#contain{padding-top: 75px}
	
	#formgiftcard .pb-right-column{.f_r;}
}
/* ----------------------------------------------------------------------------------------------------------------------- 800px ---------------------*/
@media only screen and (max-width: 800px) {
	#columns .breadcrumb + .row{padding: 0 1% /*4.237%*/}
	body#module-giftcard-choicegiftcard section.page-product-box{width: 94%; margin-left: 3%;}
	div.row_auth{padding: 0 !important;}
	div.authenticate,
	body.password div#center_column .box
	{width: 90%; max-height: inherit; .f_n; margin: 15px auto !important;}
	div.authenticate + div.authenticate{margin-left: inherit}
}
/* ----------------------------------------------------------------------------------------------------------------------- 780px ---------------------*/
@media only screen and (max-width: 780px) {
	.lgcookieslaw_banner{padding: 10px 0 25px 0 !important}
	.lgcookieslaw_banner p{max-width: 70%;}
	body#index .container #block_top_menu{.d_n;}
	body#index #side-menu #block_top_menu,
	body#index #side-menu #block_top_menu ul,
	body#index #side-menu #block_top_menu + .sep
	{display: block; }

	body#index #lnk_cart{.p_r; .f_l; margin-right: 0; left: 0; margin-left: 5%;}
	
	#choicegiftcard .col-sm-4{width: 80%; margin-left: 10%;}
	
	#choicegiftcard .pb-center-column.col-sm-4{.mt(40px)}
	#choicegiftcard .pb-left-column.col-sm-4{.ta_c; padding: 0}
	#choicegiftcard .pb-left-column.col-sm-4 span,
	#choicegiftcard .pb-left-column.col-sm-4 img
	{max-width: 100%}
	#formgiftcard .pb-right-column{.f_l; width: 80% !important}
	
	body#product .pb-right-column,
	body#product .pb-center-column 
	{.f_l; width: 80% !important; margin-left: 10%}
}
/* -----------------------------------------------------------------------------------------------------------------------  750px ---------------------*/
@media only screen and (max-width: 750px) {
	#more_info_block,
	section.page-product-box
	{.d_n}
	#module-giftcard-choicegiftcard #more_info_block,
	#module-giftcard-choicegiftcard section.page-product-box
	{display: block;}
}
/* -----------------------------------------------------------------------------------------------------------------------  700px ---------------------*/
@media only screen and (max-width: 700px) {
	div#store .inside.popincookie{.lh(19px); .fs(16px); min-width: 300px; width: 80%}
	.ifryt{width: 100%; margin-right: 0; padding-bottom: 56.25%;}
	/*header .row #header_logo img{height: auto; width: 320px;}*/
}
/* -----------------------------------------------------------------------------------------------------------------------  650px ---------------------*/
@media only screen and (max-width: 650px) {
	#formgiftcard .submit_button{padding: 10px 10px;}
}
/* -----------------------------------------------------------------------------------------------------------------------  640px ---------------------*/
@media only screen and (max-width: 640px) {
	#cms #center_column p.mosaic img{width: 98%; }
}
/* ----------------------------------------------------------------------------------------------------------------------- 600px ---------------------*/
@media only screen and (max-width: 600px) {
	body#module-giftcard-choicegiftcard .select .sbHolder{.f_n; margin: 15px auto;}
	#header .container.mTop .row{padding-right: 3.2%}
	
	#lnk_cart nav div.shopping_cart{.d_n;}
	#languages-block-top{width: auto; white-space: nowrap;}
	
	body#index #lnk_cart nav div.shopping_cart{display: block;}
	body#index #lnk_cart{.f_l; margin-right: 0;  margin-left: 5%}
	body#index #lnk_cart nav{.f_l; margin-right: 0; margin-left: 15px;margin-top: 0 !important;}
	body#index #header.scrolled #lnk_cart{margin-top: 9px}
	#lnk_cart{.f_r; margin-right: 1%; margin-top: 30px}
	#lnk_cart nav{.f_r; margin-right: 2px; margin-left: 0;  margin-top: 20px}
	
	.txt_workshop .c1-1,
	.txt_workshop .c1-2
	{width: 100%; padding-left: 7.0715%; padding-right: 7.0715%;}
	
	
	#layer_cart .layer_cart_cart .button-container{padding: 0}
	div[id*="htmlcontent_home"] ul li:first-child{padding: 0 10%}
	div[id*="htmlcontent_home"] ul li:first-child span br{.d_n}
	
	ul.product_list li{width: 100%;}
	section.page-product-box{padding: 25px 0}
	#product-footer ul{width: 100%; margin-left: 0}
	#product-footer ul li{width: 80%; margin-left: 10% !important}
	#product-footer ul li + li{margin-top: 20px;}
	
	.box-cart-bottom button.exclusive,
	.box-info-product .exclusive span,
	.box-cart-bottom,
	.pb-right-column .content_prices
	{width: 100% !important;}
	.pb-right-column .content_prices	{padding-top: 0}
	.pb-right-column .product_attributes{width: 175px; .f_n; margin: 0 auto;}

	#password .box .form-group{max-width: 85%}
	#password .box .form-group .form-control{max-width: 100%}
	
	.form-group .row .col-xs-4{.f_n; margin-bottom: 15px;}
}

/* ----------------------------------------------------------------------------------------------------------------------- 560px ---------------------*/
@media only screen and (max-width: 560px) {
	.popin div#inside-popin div#newsletter_block_left{width: 90%;}
	.popin div#inside-popin div#newsletter_block_left p{padding: 0 10px}
}
/* ----------------------------------------------------------------------------------------------------------------------- 500px ---------------------*/
@media only screen and (max-width: 500px) {
	h1.page-subheading,
	#module-giftcard-choicegiftcard .page-product-box h2,
	#module-giftcard-choicegiftcard .page-product-box h3
	{.fs(14px)}
}

/***** added 07.10.2015 ****/

div.small-videos{
float:right !important;
max-width:100%;
min-height:300px;
}

 
div.videos.small-videos>a .play {
  display: inline-block;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  width: 120px;
  height: 99px;
  background:red url(../img/play.png) no-repeat center center;
 margin-top: 50px !important;
  margin-left: -61px;
  text-indent: -5000px;
  text-indent: -5000px;
}
div.videos.small-videos>a .play:hover{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.footer-180 {
min-height:10px !important;
width: 100%;
}

.instagram_bloc_p>h3>a{
color:#000 ;
	font-weight: 400;
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 0px;
	background: none/*transparent url(../img/trait-gris.png) no-repeat  left bottom*/;
	padding: 0px 0px 10px 2px;
	margin-bottom: 4px;
}

.instagram_bloc_p>h3>a:hover{
color:#94866A;
padding: 0px 0px 10px 2px;
	margin-bottom: 4px;
background:  none/*url(../img/trait-gris_hover.png) no-repeat  left bottom*/;
}

.instagram_bloc h3 span + span {
background: transparent !important;
}

.instagram_bloc>h3>a{
color:#000 ;
background:  none/* url(../img/trait-gris.png) no-repeat center bottom */;
width: 210px !important;
}

.instagram_bloc>h3>a:hover{
color:#94866A;
background:  none/* url(../img/trait-gris_hover.png) no-repeat center bottom*/;
width: 210px !important;
}

a.play>img {
max-width:100%;
min-height:300px;
}

