#home-page-tabs li a.homefeatured{
    display:none;
}

#home-page-tabs li a.blockbestsellers{
    display:none;
}

.new-label{
    display: none !important;
}

.sale-label{
    display:none !important;
}

.product-container .right-block{
    display: none;
}
