div.payment_module.systempay {
	padding-bottom: 20px;
}

div.payment_module.systempay a.unclickable {
	cursor: default !important;
}

div.payment_module.systempay a.unclickable:HOVER {
	text-decoration: none !important;
}

div.payment_module.systempay a img {
	float: none !important;
}

div.payment_module.systempay a img.logo {
	width: 86px; 
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

div.payment_module.systempay a form {
	padding-left: 40px;
	font-size: 13px;
	text-transform: none !important;
}

div.payment_module.systempay form .data {
	padding: 0px 5px;
	height: 22px;
	border: 1px solid #CCC;
	font-size: 12px;
	color: #666;
	margin-bottom: 12px;
}

div.payment_module.systempay form .data.invalid {
	background: none repeat scroll 0 0 #FAEBE7 !important;
	border: 1px dashed #EB340A !important;
}

div.payment_module.systempay a img.card {
	vertical-align: middle;
	margin-right: 10px;
	height: 20px;
}

div.payment_module.systempay.multi ul {
	display: inline-block;
	margin-bottom: 0;
}

div.payment_module.systempay.multi ul li {
	font-weight: bold;
	color: #777777;
	cursor: pointer;
	list-style-type: square;
	margin-left: 15px;
}

div.payment_module.systempay.multi ul li:HOVER {
	color: #000;
}