div.payment_module.systempay a {
	padding-left: 15px;
}

div.payment_module.systempay a.unclickable {
	cursor: default !important;
}

div.payment_module.systempay a img.logo {
	width: 86px; 
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

div.payment_module.systempay a form {
	padding-left: 40px;
	font-size: 13px;
}

div.payment_module.systempay form .data {
	height: 32px;
	padding: 6px 12px;
	font-size: 13px;
	line-height: 1.42857;
	vertical-align: middle;
	background-color: #FFF;
	border: 1px solid #D6D4D4;
	border-radius: 0px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	margin-bottom: 12px;
}

div.payment_module.systempay form .data.invalid {
	background: none repeat scroll 0 0 #FAEBE7 !important;
	border: 1px dashed #EB340A !important;
}

div.payment_module.systempay a img.card {
	vertical-align: middle;
	margin-right: 10px;
	height: 20px;
}

div.payment_module.systempay.multi ul {
	display: inline-block;
	margin-bottom: 0;
}

div.payment_module.systempay.multi ul li {
	font-weight: bold;
	color: #777777;
	cursor: pointer;
	list-style-type: square;
	margin-left: 15px;
}

div.payment_module.systempay.multi ul li:HOVER {
	color: #000;
}