{*
 * Systempay V2-Payment Module version 1.5.0 (revision 66901) for Prestashop 1.5-1.6.
 *
 * Copyright (C) 2014-2015 Lyra Network and contributors
 * Support contact : supportvad@lyra-network.com
 * Author link : http://www.lyra-network.com/
 *
 * NOTICE OF LICENSE
 *
 * This source file is licensed under the Open Software License version 3.0
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category  payment
 * @package   systempay
 * @author    Lyra Network <supportvad@lyra-network.com>
 * @copyright 2014-2015 Lyra Network and contributors
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @version   1.5.0 (revision 66901)
*}

{assign var='warnStyle' value='background: none repeat scroll 0 0 #FFFFE0; border: 1px solid #E6DB55; font-size: 13px; margin: 0 0 10px; padding: 10px;'}

{if $check_url_warn == true}
	<p style="{$warnStyle|strval}">
		{if $maintenance_mode == true}
			{l s='The shop is in maintenance mode. The automatic notification (peer to peer connection between the payment platform and your shopping cart solution) cannot work.' mod='systempay'}
		{else}
			{l s='The automatic notification (peer to peer connection between the payment platform and your shopping cart solution) hasn\'t worked. Have you correctly set up the server URL in your store backoffice ?' mod='systempay'}
			<br />
			{l s='For understanding the problem, please read the documentation of the module : ' mod='systempay'}<br />
			&nbsp;&nbsp;&nbsp;- {l s='Chapter «To read carefully before going further»' mod='systempay'}<br />
			&nbsp;&nbsp;&nbsp;- {l s='Chapter «Server URL settings»' mod='systempay'}
		{/if}

		<br />
		{l s='If you think this is an error, you can contact our' mod='systempay'}
		<a href="{$link->getPageLink('contact', true)|strval}">{l s='customer support' mod='systempay'}</a>.
	</p>

	<br/><br/>
{/if}

{if $prod_info == true}
	<p style="{$warnStyle|strval}">
		<u><b>{l s='GOING INTO PRODUCTION' mod='systempay'}</b></u><br />
		{l s='You want to know how to put your shop into production mode, please go to this URL : ' mod='systempay'}
		<a href="https://paiement.systempay.fr/html/faq/prod" target="_blank">https://paiement.systempay.fr/html/faq/prod</a>
	</p>

	<br/><br/>
{/if}

{if $error_msg == true}
	<p style="{$warnStyle|strval}">
		{l s='Your order has been registered with a payment error.' mod='systempay'}
		
		{l s='Please contact our' mod='systempay'}&nbsp;<a href="{$link->getPageLink('contact', true)|strval}">{l s='customer support' mod='systempay'}</a>.
	</p>
{else}
	<p>
		{l s='Your order on' mod='systempay'} <span class="bold">{$shop_name|strval}</span> {l s='is complete.' mod='systempay'}
		<br /><br />
		{l s='We registered your payment of ' mod='systempay'} <span class="price">{$total_to_pay|strval}</span>
		<br /><br />{l s='For any questions or for further information, please contact our' mod='systempay'} <a href="{$link->getPageLink('contact', true)|strval}">{l s='customer support' mod='systempay'}</a>.
	</p>
{/if}