/* OVERRIDE ADMIN CSS OF PRESTA 1.5 */
.ba-form-group label{
    float: none;
    width: auto;
}
.ba-form-group .ba-select {
    position: relative;
    overflow: hidden;
    background: #f0f0f0;
}
.ba-form-group .ba-select select {
    width: 100%;
    outline: medium none;
    border: medium none;
    background: none;
    cursor: pointer;
    font: 14px 'Proxima Nova', sans-serif !important;
    font-weight: 600 !important;
    padding: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 50px;
}
.ba-form-group .ba-select select option[disabled] {
    color: #c0c0c0;
}
.ba-form-group .ba-select .icon {
    display: block;
    font-size: 22px;
    position: absolute;
    z-index: 5;
    top: 15px;
    right: 15px;
}
.ba-form-group .ba-select img.icon{
    position: absolute;
    top: 21px;
    right: 15px;
}
.ba-form-group .ba-select.ba-select-sm select {
    padding: 8px 25px 8px 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.ba-form-group .ba-select.ba-select-sm .icon {
    top: 8px;
    right: 8px;
}
.ba-form-group input.ba-form-control {
    height: 50px;
    padding: 10px 15px;
    font: 14px 'Proxima Nova', sans-serif !important;
    font-weight: 600 !important;
    border: none;
    background: #f0f0f0;
    /* webkit */
    /* firefox 19+ */
    /* firefox 18- */
    /* ie */
}
.ba-form-group input.ba-form-control:focus {
    border: none;
    background: #f0f0f0;
}
.ba-form-group input.ba-form-control[readonly],
.ba-form-group input.ba-form-control[disabled] {
    color: #c0c0c0;
}
.ba-form-group input.ba-form-control::-webkit-input-placeholder {
    color: #c0c0c0;
}
.ba-form-group input.ba-form-control::-moz-placeholder {
    color: #c0c0c0;
}
.ba-form-group input.ba-form-control:-moz-placeholder {
    color: #c0c0c0;
}
.ba-form-group input.ba-form-control:-ms-input-placeholder {
    color: #c0c0c0;
}
.ba-form-group.ba-form-dropdown .ba-select {
    padding: 15px 20px;
    cursor: pointer;
}
.ba-form-group.ba-form-dropdown .ba-select span {
    color: #222222;
    font: 14px 'Proxima Nova', sans-serif !important;
    font-weight: 600 !important;
}
.ba-form-group.ba-form-dropdown .dropdown-menu {
    width: 100%;
}
.ba-fake-input {
    padding: 15px;
    font: 14px 'Proxima Nova', sans-serif !important;
    font-weight: 600 !important;
}
.ba-checkbox,
.ba-checkbox-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.ba-checkbox {
    opacity: 0;
    position: absolute;
}
.ba-checkbox-label {
    position: relative;
}
.ba-checkbox-label.ba-checkbox-line {
    margin-left: 0;
    width: 100%;
}
.ba-checkbox + .ba-checkbox-label:before {
    content: '';
    font-family: 'linea-arrows-10';
    font-size: 18px;
    color: #fff;
    background: #c0c0c0;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    text-align: center;
    border-radius: 4px;
    -webkit-transition: background 200ms ease-out 0s;
    -moz-transition: background 200ms ease-out 0s;
    -ms-transition: background 200ms ease-out 0s;
    -o-transition: background 200ms ease-out 0s;
    transition: background 200ms ease-out 0s;
}
.ba-checkbox + .ba-checkbox-label.ba-checkbox-line:before {
    float: right;
    margin-right: 0;
}
.ba-checkbox:checked + .ba-checkbox-label:before {
    content: '\e006';
    background: #71c3b7;
}
.ba-checkbox-label:hover:before {
    content: '\e006';
}
.ba-radio {
    opacity: 0;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ba-radio:checked + .ba-radio-label:before {
    content: '';
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    vertical-align: -0.25em;
    border-radius: 1em;
    border: 0.125em solid white;
    box-shadow: 0 0 0 0.15em #71c3b7;
    margin-right: 0.75em;
    background: #71c3b7;
    -webkit-transition: background 0.3s, box-shadow 0.3s, border 0.3s ease-in-out;
    -moz-transition: background 0.3s, box-shadow 0.3s, border 0.3s ease-in-out;
    -ms-transition: background 0.3s, box-shadow 0.3s, border 0.3s ease-in-out;
    -o-transition: background 0.3s, box-shadow 0.3s, border 0.3s ease-in-out;
    transition: background 0.3s, box-shadow 0.3s, border 0.3s ease-in-out;
}
.ba-radio:checked + .ba-radio-label:hover:before {
    content: '';
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    vertical-align: -0.25em;
    border-radius: 1em;
    border: 0.125em solid #ffffff;
    box-shadow: 0 0 0 0.15em #71c3b7;
    margin-right: 0.75em;
    background: #71c3b7;
    -webkit-transition: background 0.3s, box-shadow 0.3s, border 0.3s ease-in-out;
    -moz-transition: background 0.3s, box-shadow 0.3s, border 0.3s ease-in-out;
    -ms-transition: background 0.3s, box-shadow 0.3s, border 0.3s ease-in-out;
    -o-transition: background 0.3s, box-shadow 0.3s, border 0.3s ease-in-out;
    transition: background 0.3s, box-shadow 0.3s, border 0.3s ease-in-out;
}
.ba-radio + .ba-radio-label:before {
    content: '';
    border: 0.125em solid #c0c0c0;
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    vertical-align: -0.25em;
    border-radius: 1em;
    box-shadow: 0 0 0 0.15em #c0c0c0;
    background: #c0c0c0;
    margin-right: 0.75em;
    -webkit-transition: background 0.3s, box-shadow 0.3s, border 0.3s ease-in-out;
    -moz-transition: background 0.3s, box-shadow 0.3s, border 0.3s ease-in-out;
    -ms-transition: background 0.3s, box-shadow 0.3s, border 0.3s ease-in-out;
    -o-transition: background 0.3s, box-shadow 0.3s, border 0.3s ease-in-out;
    transition: background 0.3s, box-shadow 0.3s, border 0.3s ease-in-out;
}
.ba-radio + .ba-radio-label:hover:before {
    content: '';
    border: 0.125em solid #ffffff;
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    vertical-align: -0.25em;
    border-radius: 1em;
    box-shadow: 0 0 0 0.15em #c0c0c0;
    background: #c0c0c0;
    margin-right: 0.75em;
}