/* CSS Document */
table.table tr.filter { display:none!important;}
table.table tr td { cursor:default!important;}
table.table tr td input { cursor:pointer!important;}
#fieldset_1 { text-align:center; }
#fieldset_1 .dmubacktonew-filter-block{ display:inline-block; width:23%; }
#fieldset_1 .dmubacktonew-filter-block label{ width:auto; }
#fieldset_1 .dmubacktonew-filter-block select{ max-width:200px!important; }
#fieldset_1 .dmubacktonew-filter-block .margin-form{ width:auto; margin:0; padding:0; text-align:left; }
#fieldset_1 .float-right{ float:right; margin-right:3.75%; text-align:right; }
#fieldset_1 .float-right{ float:right; margin-right:3.75%; text-align:right; }
#fieldset_2 .margin-form{ margin:0; padding:0; }
#fieldset_2 .margin-form input.disabled{ color:#999; }
#fieldset_2 button{ color:#333; }
#fieldset_2 button.disabled{ color:#AAA; }

.table_grid span .button{ display:none!important; }

#configuration_form .panel-footer,
#form_filter .panel-footer{ text-align:right; }

.new { display:block; padding:2px 5px 2px 5px; background-color:#0A0; color:#fff; border-radius:3px; }
.nonew { display:block; padding:2px 5px 2px 5px; background-color:#EEE; color:#BBB; border-radius:3px; }