* {
    cursor: default;
}

#tabs {
    margin: 0;
    padding: 0;
}

#tabs li {
    float: left;
    list-style: none;
    height: 19px;
    border: 1px solid #777;
    border-bottom: 1px solid #FFFFF0;
    margin-bottom: -1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#tabs li a {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
}

#tabs li + li {
    margin-left: 5px;
}

#contentTabs {
    clear: both;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #777;
    padding-bottom: 20px;
}

.sousmenuactif {
    font-weight: bold;
}

.table.tableDnD {
    width: 100%;
    font-size: 11px;
}

.table.tableDnD tbody tr td:last-child a img {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

form.form .table.tableDnD tr td:first-child {
    width: 200px;
}

form.form .table.tableDnD {
    width: auto;
}

.bold {
    font-weight: bold;
}

td.right {
    text-align: right;
}

fieldset + fieldset {
    margin-top: 10px;
}

.catName {
    text-align: left;
    width: 150px;
    padding: 0 10px;
}

.totArboImg {
    width: 19px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    height: 19px;
}

td.productName {
    min-height: 30px;
    width: 200px;
    padding: 0 10px;
}

td.translate {
    width: 300px;
}

div.newCampaign {
    margin-bottom: 5px;
    margin-top: -10px;
}

#choose {
    display: none;
}

#prod {
    line-height: 19px;
}

tr.duplicate {
    display: none;
}

.deleteGroup {
    clear: both;
}

.product {
    width: 210px;
}

.onClick, .deleteGroup, .onClick img, .deleteGroup img {
    cursor: pointer;
    float: left;
}

form.form .table.tableDnD tr td:first-child {
    width: 100%;
}

.nobootstrap label {
    width: 100%;
}
