.opartplannedpopup_fade { /*Masque opaque noir de fond*/
	display: none; /*masque par defaut*/
	background: white;
	position: fixed; 
	left: 0; 
	top: 0;
	width: 100%; 
	height: 100%;
	/*opacity: 0.40;*/
	z-index: 9998;
}
.opartplannedpopup_block{
	display: none;
	background: #fff;
	padding: 20px;
	border: 0px solid #858585;
	/*float: left;*/
	font-size: 1.2em;
	position: absolute;
	top: 50%; 
	left: 50%;
	z-index: 99999;
	/*Les differentes definitions de Box Shadow en CSS3*/
	-webkit-box-shadow: 0px 0px 0px #000;
	-moz-box-shadow: 0px 0px 0px #000;
	box-shadow: 0px 0px 0px #000;
	color:#000;
}
.opartplannedpopuploading {
	position:absolute;
	top:50%;
	left:50%;
	margin:-8px 0 0 -8px;
}
img.btn_close {
	float: right;
	margin: -35px -35px 0 0;
}
/*Gerer la position fixed pour IE6*/
*html .fade {
position: absolute;
}
*html .opartplannedpopup_block {
position: absolute;
}
.opartPlannedPopupContent {
	overflow:auto;
	height:100%;
	width:100%;
}
/** hack ie7 ***/

*:first-child+html .opartplannedpopup_fade {
	position:absolute;
}
*:first-child+html .opartplannedpopup_block { 
	position:absolute;	 
}
/*** newsletter ***/
.opartplannedpopup_block #newsletter_block_left input.inputNew {
	top: -3px;
}
.opartplannedpopup_block #newsletter_block_left input.button_mini {
	left: -3px;
}