.totsuggestproductcart_15#product_list li .right_block
{
     float:right;
}

.totsuggestproductcart_15#product_list li .center_block {
     width:562px;
}

.totsuggestproductcart_16#product_list
{
	border: 1px solid #d6d4d4;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	overflow: hidden;
}

.totsuggestproductcart_16#product_list li .center_block
{
	overflow: hidden;
	width: 940px;
	float: left;
}

.totsuggestproductcart_16#product_list li .center_block a.product_img_link
{
	float: left;
}

.totsuggestproductcart_16#product_list div.right_block
{
	text-align: right;
	padding-top: 125px;
	padding-right: 35px;
}