{*
* Copyright (C) 2015-2016 Brainify - All Rights Reserved
*
* @author Brainify <tech@brainify.it>
* @copyright 2015-2016 Brainify
*}

<div class="final-step">
    <div class="container-fluid">
        <div class="row">
            <img src="/modules/brainify/views/img/tada.svg">
        </div>
        <div class="row">
            <h1>{l s='Congratulations !' mod='brainify'}</h1>
            <p class="uppercase">{l s='Your registration is complete' mod='brainify'}</p>
        </div>
        <div class="row">
            <a class="btn-primary ba-btn" target="_blank" href="http://app.brainify.it">{l s='Go to Brainify Analytics' mod='brainify'}</a>
        </div>
        <div id="resetModule" class="link-bottom uppercase">{l s='Reset plugin' mod='brainify'}</div>
    </div>
</div>
