{*
* Copyright (C) 2015-2016 Brainify - All Rights Reserved
*
* @author Brainify <tech@brainify.it>
* @copyright 2015-2016 Brainify
*}

<div class="container-fluid" id="ba-step2">
    <div class="row">
        <div class="text-center">
            <img src="/modules/brainify/views/img/logo.svg">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <br>
            {include file="./addSite.tpl"}
            <br>
        </div>
    </div>
    <div class="row">
        <section class="thematiques">
            <div class="container">
                <h2>{l s='5 e-commerce strategic themes' mod='brainify'}</h2>
                <br>
                <div class="row">
                    <div class="col-md-15">
                        <img src="/modules/brainify/views/img/icon-sells.svg" alt="">
                        <h3>{l s='Sales' mod='brainify'}</h3>
                        <p>{l s='Star categories, product selling cycles, and best-seller to be pushed with commercial operations.' mod='brainify'}</p>
                    </div>
                    <div class="col-md-15">
                        <img src="/modules/brainify/views/img/icon-acquisition.svg" alt="">
                        <h3>{l s='Acquisition' mod='brainify'}</h3>
                        <p>{l s='Traffic sources, acquisition path, profitability … Identify and pull the right levers to gain efficiency.' mod='brainify'}</p>
                    </div>
                    <div class="col-md-15">
                        <img src="/modules/brainify/views/img/icon-product.svg" alt="">
                        <h3>{l s='Products' mod='brainify'}</h3>
                        <p>{l s='Seasonality effects, products that bring traffic or influencer products, do not miss out your ambassadorial products.' mod='brainify'}</p>
                    </div>
                    <div class="col-md-15">
                        <img src="/modules/brainify/views/img/icon-customers.svg" alt="">
                        <h3>{l s='Clients' mod='brainify'}</h3>
                        <p>{l s='CLTV, cohorts... recruit clients at right time and follow their loyalty.' mod='brainify'}</p>
                    </div>
                    <div class="col-md-15">
                        <img src="/modules/brainify/views/img/icon-crosssell.svg" alt="">
                        <h3>{l s='Cross Sell' mod='brainify'}</h3>
                        <p>{l s='Progression of average customer basket value, margin increasement, discover your best cross-sell and build performing product mix.' mod='brainify'}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
