{*
* Copyright (C) 2015-2016 Brainify - All Rights Reserved
*
* @author Brainify <tech@brainify.it>
* @copyright 2015-2016 Brainify
*}

<div class="container-fluid" id="ba-step1">
    <div class="row">
        <div class="col-md-6">
            <img style="width: 100%;" src="/modules/brainify/views/img/computer.png">
        </div>
        <div class="col-md-6">
            <div>
                <img src="/modules/brainify/views/img/logo.svg">
            </div>
            <h1>{l s='Thank you for installing Brainify Analytics.' mod='brainify'}</h1>
            <p class="uppercase">{l s='Create your account to access brainify features' mod='brainify'}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <img src="/modules/brainify/views/img/icon-dashboard.svg">
                <h2>{l s='Dashboard' mod='brainify'}</h2>
                <p>{l s='A simplified ecommerce performance control center, to take the pulse of your business within few seconds, and take actions.' mod='brainify'}</p>
            </div>
            <div class="row">
                <img src="/modules/brainify/views/img/icon-overview.svg">
                <h2>{l s='Overviews' mod='brainify'}</h2>
                <p>{l s='5 overviews to proceed a strategic audit of your ecommerce. Make instant decisions without taking care of data extracts and formatting.' mod='brainify'}</p>
            </div>
            <div class="row">
                <img src="/modules/brainify/views/img/icon-report.svg">
                <h2>{l s='Reports' mod='brainify'}</h2>
                <p>{l s='13 ecommerce reports for an in-depth and careful study of key themes of your ecommerce. A few clicks is enough for detailed analysis.' mod='brainify'}</p>
            </div>
        </div>
        <div class="col-md-6">

            {include file="./sign-up.tpl"}

        </div>
    </div>

</div>
